@import url('https://fonts.googleapis.com/css?family=Balthazar|Gloria+Hallelujah|UnifrakturMaguntia&display=swap');

.sheet-characterwrapper {
	border: 30px solid transparent;
	padding: 5px 15px;
	min-height: 500px;
}

.sheet-invisible {display: none;}

.sheet-ground, 
.sheet-plane {
	display: none;
	font-family: 'Balthazar', serif;
}

.sheet-title 
{
	font-size: 3em;
	font-family: 'UnifrakturMaguntia';
}

.sheet-subtitle
{
	font-size: 1.5em;
	font-family: 'UnifrakturMaguntia';
}

.sheet-biginfo 
{
	font-size: 1.5em;
	flex-grow: 2;
}

.sheet-bio .sheet-biginfo 
{
	border-right: 7px solid transparent;
}

.sheet-small-title {
	font-size: 2em;
	font-family: 'UnifrakturMaguntia';
}

.sheet-horiz-line {
	width: 100%;
	border-bottom: 2px solid;
	border-radius: 15%;
}
.sheet-horiz-line2 {
	width: 100%;
	border-top: 2px solid;
	border-radius: 15%;
	margin-top: 2ex; 
}

.sheet-horiz-line ~ .sheet-tab-toggles {
	padding-top: 2ex;
}

.sheet-tabstoggle[value="ground"] ~ div.sheet-ground,
.sheet-tabstoggle[value="plane"] ~ div.sheet-plane {
	display: block;
}

.sheet-wild-toggle ~ div.sheet-wild,
.sheet-stressed-out-toggle ~ div.sheet-stressed-out,
.sheet-burnt-out-toggle ~ div.sheet-burnt-out
{
	display: none;
}

.sheet-wild-toggle[value="wild"] ~ div.sheet-wild,
.sheet-stressed-out-toggle[value="on"] ~ div.sheet-stressed-out, 
.sheet-burnt-out-toggle[value="on"] ~ div.sheet-burnt-out
{
	display: flex;
}

/* title card styling */

.sheet-menuwrapper .sheet-title {
	background-color: rgb(195, 56, 56);
	padding: 1ex;
	border-radius: 25%;
	text-align: center;
	font-size: 5em;
	border-bottom: 2px solid;
	border-top: 2px solid;
}

/* engine-cards styling */

.sheet-engine-card {
	
}

/* stress styling */
div.sheet-stressed-out {
	color: red;
	font-size: 50%;
	font-family: 'Balthazar', serif;
	text-align: middle;
	margin-left: 1ex;
}

.sheet-stress.sheet-box {
	border: 2px solid transparent;
}

.sheet-flexcol.sheet-box {
	flex-grow: 0;
}

div.sheet-burnt-out {
	color: aqua;
	font-size: 75%;
	font-family: 'Balthazar', serif;
	text-align: middle;
	margin-left: 1ex;
}


div.sheet-flexrow.sheet-experience {
	align-self: flex-start;
	flex-grow: 0;
}

/* flex table styling */
.sheet-flexcol {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
}

.sheet-flexrow {
	display: flex;
	flex-flow: row wrap;
}

.sheet-aligncenter {
	align-self: center;
}

/*stats box styling*/
.sheet-stats .sheet-flexcol {
	margin-left: 1em;
	flex-grow: 0;
}
.sheet-stats input[type="text"] {
	width: 2em;
	font-size: 2em;
	border-radius: 40%;
	text-align: center;
}

.sheet-stats span {
	font-size: 1.2em;
	text-align: center;
}

.sheet-stats button[type="roll"] {
	background-image: none;
	background-color: white;
	background-repeat: none;
	border:none; 
	padding: 0 1ex 0 1ex;
	cursor: pointer;
	text-shadow: none;
	font-family: 'Balthazar', serif;
	color: black;
}

.sheet-stats button[type="roll"]:before {
	content: none;
}

/*experience styling */
div.sheet-experience {
	border-top: 10px solid transparent;
}

span.sheet-experience {
	font-size: 1.5em;
	border-right: 10px solid transparent;
}

div.sheet-experience input 
{
	width: 3em;
	font-size: 2em;
	border-radius: 35%;
	text-align: center;
	padding-left: 0.5ex;
}

/* comrades styling */
.sheet-comrades.sheet-subtitle {
	margin-right: 3px;
	padding-right: 5px;
	border-right: 2px solid;
}

.sheet-comrade input[type="text"].sheet-comrade-name {
	width: 50%;
	padding-left: 1ex;
	font-size: 1.5em;
	margin-bottom: 1ex;
}

.sheet-trust-box {
	margin-left: 1em;
}

.sheet-comrade span 
{
	margin-right: 3px;
	padding-right: 5px;
	border-right: 2px solid;
}

div.sheet-flexcol.sheet-comrades 
{
	border: 1px solid;
	margin: 2ex;
	margin-left: 0;
	padding: 1ex 1ex 1ex 1ex;
}

.sheet-comrade input[type="checkbox"] {
	margin-right: 0;
	padding-right: 0;
}

/* vice styling */

div.sheet-flexcol.sheet-vices {
	border: 1px solid;
	margin: 2ex;
	padding: 1ex;
	flex-shrink: 0;
}

.sheet-vice input[type="text"].sheet-vice-name {
	width: 100%;
	padding-left: 1ex;
	font-size: 1.5em;
	margin-bottom: 1ex;
}

/* engine card */

/* weapon card */
.sheet-weapon-card {
	border: 1px solid rgb(75, 75, 75);
	padding: 1em 1ex 1ex 1em;
	border-radius: 15% 0%;
	margin-bottom: 0.5ex;
}

.sheet-weapon-stats {
	border: 1px solid rgb(75, 75, 75);
	border-radius: 15% 0% 0% 0%;
	padding: 1em 1ex 1ex 1em;
	background-color: rgb(75, 75, 75);
	color: white;
	margin-bottom: 0.5ex;
}

.sheet-weapon-type span.sheet-header {
	padding-right: 2ex;
	padding-left: 1ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	background-color: white;
	color: black;
	border-radius: 15%;
	margin-right: 1ex;
	width: 8em;
}

.sheet-weapon-stats-inner input[type="text"] {
	width: 5em;
	text-align: center;
}

.sheet-weapon-stats.sheet-input {
	padding: 0;
	padding-left: 3ex;
}

.sheet-weapon-stats .sheet-weapon-stats-inner .sheet-flexcol .sheet-header {
	background-color: white;
	color: black;
	border-radius: 25%;
	padding: 1ex;
	flex-grow: 0;
	width: 6em;
	margin: 1ex;
	text-align: center;
}

.sheet-radiocol span {
	text-align: center;
}

.sheet-radiocol input[type="radio"] {
	text-align: center;
	margin-left: 36%;
}

/* range-table styling */
.sheet-range-table .sheet-header.sheet-labels {
	background-color: rgb(75, 75, 75);
	color: white;
	font-size: 1.5em;
}

.sheet-range-table .sheet-header.sheet-labels div {
	border-bottom: 1px dashed white;
	text-align: center;
}

.sheet-range-table .sheet-header.sheet-labels div:last-child {
	border: 0px;
}

.sheet-range-table .sheet-flexcol input[type="text"] {
	width: 5em;
	text-align: center;
	border: 0px;
}

.sheet-range-table .sheet-flexcol {
	flex-grow: 0;
	border-left: 1px solid darkgray;
}

.sheet-advantage-radios .sheet-flexcol {
	border: 0px;
	padding: 1ex;
}

.sheet-advantage-radios .sheet-radiocol {
	border-right: 1px solid black;
	text-align: center;
}

.sheet-range-table .sheet-flexcol .sheet-header {
	background-color: rgb(75, 75, 75);
	color: white;
	text-align: center;
	border-left: 1px dashed white;
	padding: 1ex;
}

.sheet-range-table button[type="roll"] {
	background-image: none;
	background-color: white;
	background-repeat: none;
	border:none; 
	padding: 0 1ex 0 1ex;
	cursor: pointer;
	text-shadow: none;
	font-family: 'Balthazar', serif;
	color: black;
}

.sheet-range-table button[type="roll"]:before {
	content: none;
}

/* plane stuff */

.sheet-small-digit {
	font-size: 0.2ex;
}

.sheet-spacer.sheet-header {
	width: 3em;
	height: 1em;
}

.sheet-flexrow .sheet-plane-stress {
	flex-grow: 0;
	padding-right: 2ex;
}

.sheet-flexrow .sheet-plane-stress input[type="text"] {
	width: 2em;
	font-size: 1.5 em;
	padding-left: 1ex;
}

/* moves */
.sheet-game-moves-container .sheet-game-moves-container {
	display: none;
}

.sheet-game-moves-container input.sheet-move-toggle[value="on"] ~ .sheet-game-moves-container {
	display: inherit;
}

.sheet-game-moves button[type="roll"] {
	background-image: none;
	background-color: transparent;
	background-repeat: none;
	border:none; 
	padding: 0;
	cursor: pointer;
	text-shadow: none;
	font-family: 'Balthazar', serif;
}

.sheet-game-moves button[type="roll"]:before {
	content: none;
}

.sheet-move-title {
	border-bottom: 1px dashed darkgray;
	border-radius: 25%;
	
	font-family: 'Balthazar', serif;
	font-size: 1.1em;
	font-weight: bold;
	
	margin-bottom: 1ex;
	
	padding-bottom: 0.5ex;
	
	text-align: center;
}

.sheet-game-moves ul {
	list-style-type: circle;
}

.sheet-game-moves li {
	border-right: 1px dashed darkgray;
	padding-right: 1ex;
}

/* square box styling */
.sheet-square-box {
	width: 3em;
	height: 4em;
	border: 2px solid black;
	margin: 1ex;
	padding-top: 2ex;
	text-align: center;
	border-radius: 10%;
}

.sheet-flexcol.sheet-flight-stats {
	flex-grow: 0;
}

.sheet-square-box input[type="text"] {
	width: 2em;
	font-size: 1.2em;
	margin: 0 auto;
	text-align: center;
}

.sheet-plane-stress.sheet-square-box {
	height: 4em;
}

/*air-stats indicator */
.sheet-variable-stats .sheet-flexcol div {
	border-right: 0px;
}
.sheet-variable-stats .sheet-labels div {
	border: 1px solid black;
	border-radius: 15%;
	height: 1em;
	padding: 1ex;
	margin-right: 1ex;
}

.sheet-variable-stats .sheet-labels div.sheet-spacer {
	border: 0px solid transparent;
	margin: 0 auto;
}

.sheet-variable-stats input[type="text"] {
	width: 3em;
	text-align: center;
	margin: 0 auto;
	border: 0px solid transparent;
}

.sheet-variable-stats .sheet-labels .sheet-empty {
	border-bottom: 1px solid;
}

.sheet-variable-stats .sheet-flexcol {
	flex-grow: 0;
}

.sheet-variable-stats .sheet-flexcol .sheet-header {
	border-bottom: 2px solid;
	padding-left: 2ex;
	padding-right: 2ex;
}
.sheet-variable-stats .sheet-flexcol {
	border-right: 1px solid gray;
}
.sheet-variable-stats .sheet-flexcol.sheet-labels, 
.sheet-variable-stats .sheet-flexcol.sheet-speed {
	border-right: 0px;
}

.sheet-air-stats.sheet-indicator {
	border: 4px outset gray;
	padding: 3.5em;
	border-radius: 50%;
	width: 11em;
	height: 11em;
	margin: 1ex;
}

.sheet-air-stats.sheet-indicator input {
	width: 1.5em;
	font-size: 2em;
}

.sheet-air-stats .sheet-visibility {
	position: relative;
	width: 8em;
	height: 8em;
	top: -5em;
	left: 1.3em;
	transform: rotate(-45deg);
	border-bottom: 1px dashed black;
	border-left: 1px dashed black;
	text-align: center;
	padding-bottom: 0;
}

.sheet-air-stats .sheet-visibility input {
	position:relative;
	top: 1em;
	left: -0.5em;
}

.sheet-air-stats .sheet-visibility .sheet-label {
	position:relative;
	top: 2em;
	left: 1em;
}

.sheet-air-stats .sheet-energy-loss {
	position: relative;
	transform: rotate(-45deg);
	left: -5em;
	top: -6.7em;
	width: 8em;
	height: 8em;
	border-bottom: 1px dashed black;
	border-right: 1px dashed black;
	text-align: center;
}

.sheet-air-stats .sheet-energy-loss .sheet-label{
	position: relative;
	top: 3.6em;
}

.sheet-air-stats .sheet-energy-loss input {
	position: relative;
	top: 1.6em;
	left: 0.8em;
}

.sheet-air-stats .sheet-visibility input,
.sheet-air-stats .sheet-visibility .sheet-label,
.sheet-air-stats .sheet-energy-loss input {
	transform: rotate(45deg);
}

.sheet-air-stats .sheet-turn-bleed {
	position: relative;
	width: 8em;
	height: 8em;
	top: -14.8em;
	left: 8em;
	transform: rotate(45deg);
	border-bottom: 1px dashed black;
	border-left: 1px dashed black;
	text-align: center;
}

.sheet-air-stats .sheet-turn-bleed .sheet-label {
	position: relative;
	top: 3.6em;
}

.sheet-air-stats .sheet-turn-bleed input {
	position: relative;
	left: -0.5em;
	top: 1em;
}

.sheet-air-stats .sheet-stability {
	position: relative;
	width: 8em;
	height: 8em;
	top: -16.6em;
	left: 1.4em;
	transform: rotate(45deg);
	border-top: 1px dashed black;
	border-left: 1px dashed black;
}

.sheet-air-stats .sheet-turn-bleed input, 
.sheet-air-stats .sheet-stability input,
.sheet-air-stats .sheet-stability .sheet-label {
	transform: rotate(-45deg);
}

.sheet-air-stats .sheet-stability input {
	position: relative;
	top: 1em;
	left: 1em;
}
.sheet-air-stats .sheet-stability .sheet-label {
	position: relative;
	top: 0.6em;
	left: 3em;
}

/*roll templates*/
.sheet-rolltemplate-contact div.sheet-template-container,
.sheet-rolltemplate-simple-roll div.sheet-template-container, 
.sheet-rolltemplate-collision  div.sheet-template-container, 
.sheet-rolltemplate-open-fire div.sheet-template-container {
	border: 1px solid;
	padding: 1ex 1ex 1ex 1ex;
}

.sheet-rolltemplate-contact div.sheet-template-header,
.sheet-rolltemplate-simple-roll div.sheet-template-header,
.sheet-rolltemplate-collision  div.sheet-template-header,
.sheet-rolltemplate-open-fire  div.sheet-template-header {
	border-bottom: 1px solid red;
	margin: 0ex 1ex 1ex 0ex;
	font-weight: bold;
	font-size: 1.1em;
}

.sheet-rolltemplate-do2d10 div.sheet-template-container {
	border: 1px solid;
	padding: 1ex 0ex 1ex 1ex;
}

.sheet-rolltemplate-do2d10 div.sheet-template-header {
	border-bottom: 1px solid red;
	margin: 0ex 1ex 1ex 0ex;
}

.sheet-rolltemplate-do2d10 div.sheet-template-options {
	border-top: 1px dashed black;
	padding-top: 1ex;
	margin-top: 1ex;
}