@import url('https://fonts.googleapis.com/css?family=Balthazar|Gloria+Hallelujah|UnifrakturMaguntia&display=swap');

.sheet-characterwrapper {
	border: 30px solid transparent;
	padding: 5px 15px;
	min-height: 500px;
}

.sheet-invisible {display: none;}

.sheet-ground, 
.sheet-plane {
	display: none;
	font-family: 'Balthazar', serif;
}

.sheet-title 
{
	font-size: 3em;
	font-family: 'UnifrakturMaguntia';
}

.sheet-subtitle
{
	font-size: 1.5em;
	font-family: 'UnifrakturMaguntia';
}

.sheet-biginfo 
{
	font-size: 1.5em;
	flex-grow: 2;
}

.sheet-bio .sheet-biginfo 
{
	border-right: 7px solid transparent;
}

.sheet-small-title {
	font-size: 2em;
	font-family: 'UnifrakturMaguntia';
}

.sheet-horiz-line {
	width: 100%;
	border-bottom: 2px solid;
	border-radius: 15%;
}
.sheet-horiz-line2 {
	width: 100%;
	border-top: 2px solid;
	border-radius: 15%;
	margin-top: 2ex; 
}

.sheet-horiz-line ~ .sheet-tab-toggles {
	padding-top: 2ex;
}

.sheet-tabstoggle[value="ground"] ~ div.sheet-ground,
.sheet-tabstoggle[value="plane"] ~ div.sheet-plane {
	display: block;
}

.sheet-wild-toggle ~ div.sheet-wild,
.sheet-stressed-out-toggle ~ div.sheet-stressed-out,
.sheet-burnt-out-toggle ~ div.sheet-burnt-out
{
	display: none;
}

.sheet-wild-toggle[value="wild"] ~ div.sheet-wild,
.sheet-stressed-out-toggle[value="on"] ~ div.sheet-stressed-out, 
.sheet-burnt-out-toggle[value="on"] ~ div.sheet-burnt-out
{
	display: flex;
}

/* title card styling */

.sheet-menuwrapper .sheet-title {
	background-color: rgb(195, 56, 56);
	padding: 1ex;
	border-radius: 25%;
	text-align: center;
	font-size: 5em;
	border-bottom: 2px solid;
	border-top: 2px solid;
}

/* engine-cards styling */

.sheet-engine-card {
	
}

/* stress styling */
div.sheet-stressed-out {
	color: red;
	font-size: 50%;
	font-family: 'Balthazar', serif;
	text-align: middle;
	margin-left: 1ex;
}

.sheet-stress.sheet-box {
	border: 2px solid transparent;
}

.sheet-flexcol.sheet-box {
	flex-grow: 0;
}

div.sheet-burnt-out {
	color: aqua;
	font-size: 75%;
	font-family: 'Balthazar', serif;
	text-align: middle;
	margin-left: 1ex;
}


div.sheet-flexrow.sheet-experience {
	align-self: flex-start;
	flex-grow: 0;
}

/* flex table styling */
.sheet-flexcol {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
}

.sheet-flexrow {
	display: flex;
	flex-flow: row wrap;
}

.sheet-aligncenter {
	align-self: center;
}

/*stats box styling*/
.sheet-stats .sheet-flexcol {
	margin-left: 1em;
	flex-grow: 0;
}
.sheet-stats input[type="text"] {
	width: 2em;
	font-size: 2em;
	border-radius: 40%;
	text-align: center;
}

.sheet-stats span {
	font-size: 1.2em;
	text-align: center;
}

/*experience styling */
div.sheet-experience {
	border-top: 10px solid transparent;
}

span.sheet-experience {
	font-size: 1.5em;
	border-right: 10px solid transparent;
}

div.sheet-experience input 
{
	width: 3em;
	font-size: 2em;
	border-radius: 35%;
	text-align: center;
	padding-left: 0.5ex;
}

/* comrades styling */
.sheet-comrades.sheet-subtitle {
	margin-right: 3px;
	padding-right: 5px;
	border-right: 2px solid;
}

.sheet-comrade input[type="text"].sheet-comrade-name {
	width: 50%;
	padding-left: 1ex;
	font-size: 1.5em;
	margin-bottom: 1ex;
}

.sheet-trust-box {
	margin-left: 1em;
}

.sheet-comrade span 
{
	margin-right: 3px;
	padding-right: 5px;
	border-right: 2px solid;
}

div.sheet-flexcol.sheet-comrades 
{
	border: 1px solid;
	margin: 2ex;
	margin-left: 0;
	padding: 1ex 1ex 1ex 1ex;
}

.sheet-comrade input[type="checkbox"] {
	margin-right: 0;
	padding-right: 0;
}

/* vice styling */

div.sheet-flexcol.sheet-vices {
	border: 1px solid;
	margin: 2ex;
	padding: 1ex;
	flex-shrink: 0;
}

.sheet-vice input[type="text"].sheet-vice-name {
	width: 100%;
	padding-left: 1ex;
	font-size: 1.5em;
	margin-bottom: 1ex;
}

/* engine card */

/* plane stuff */

.sheet-small-digit {
	font-size: 0.2ex;
}

.sheet-spacer.sheet-header {
	width: 3em;
	height: 1em;
}

.sheet-flexrow .sheet-plane-stress {
	flex-grow: 0;
	padding-right: 2ex;
}

.sheet-flexrow .sheet-plane-stress input[type="text"] {
	width: 2em;
	font-size: 1.5 em;
	padding-left: 1ex;
}

/* moves */
.sheet-game-moves-container .sheet-game-moves-container {
	display: none;
}

.sheet-game-moves-container input.sheet-move-toggle[value="on"] ~ .sheet-game-moves-container {
	display: inherit;
}

.sheet-game-moves button[type="roll"] {
	background-image: none;
	background-color: transparent;
	background-repeat: none;
	border:none; 
	padding: 0;
	cursor: pointer;
	text-shadow: none;
	font-family: 'Balthazar', serif;
}

.sheet-game-moves button[type="roll"]:before {
	content: none;
}

.sheet-move-title {
	border-bottom: 1px dashed darkgray;
	border-radius: 25%;
	
	font-family: 'Balthazar', serif;
	font-size: 1.1em;
	font-weight: bold;
	
	margin-bottom: 1ex;
	
	padding-bottom: 0.5ex;
	
	text-align: center;
}

.sheet-game-moves ul {
	list-style-type: circle;
}

.sheet-game-moves li {
	border-right: 1px dashed darkgray;
	padding-right: 1ex;
}

/* square box styling */
.sheet-square-box {
	background-image: url('https://github.com/ZerothLaw/roll20-character-sheets/raw/flying-circus/Flying%20Circus/images/square-plate.png');
	background-repeat: no-repeat;
	background-size: contain;
}

div.sheet-escape.sheet-square-box {

}

.sheet-escape.sheet-square-box input[type="text"] {
	width: 2em;
	margin: 0 auto;
}

/*air-stats indicator */
.sheet-variable-stats .sheet-flexcol div {
	border-right: 0px;
}
.sheet-variable-stats .sheet-labels div {
	border: 1px solid black;
	border-radius: 15%;
	height: 1em;
	padding: 1ex;
	margin-right: 1ex;
}

.sheet-variable-stats .sheet-labels div.sheet-spacer {
	border: 0px solid transparent;
	margin: 0 auto;
}

.sheet-variable-stats input[type="text"] {
	width: 3em;
	text-align: center;
	margin: 0 auto;
	border: 0px solid transparent;
}

.sheet-variable-stats .sheet-labels .sheet-empty {
	border-bottom: 1px solid;
}

.sheet-variable-stats .sheet-flexcol {
	flex-grow: 0;
}



.sheet-variable-stats .sheet-flexcol .sheet-header {
	border-bottom: 2px solid;
	padding-left: 2ex;
	padding-right: 2ex;
}
.sheet-variable-stats .sheet-flexcol {
	border-right: 1px solid gray;
}
.sheet-variable-stats .sheet-flexcol.sheet-labels, 
.sheet-variable-stats .sheet-flexcol.sheet-stall {
	border-right: 0px;
}



/*roll templates*/
.sheet-rolltemplate-contact div.sheet-template-container,
.sheet-rolltemplate-simple-roll div.sheet-template-container, 
.sheet-rolltemplate-collision  div.sheet-template-container{
	border: 1px solid;
	padding: 1ex 1ex 1ex 1ex;
}

.sheet-rolltemplate-contact div.sheet-template-header,
.sheet-rolltemplate-simple-roll div.sheet-template-header,
.sheet-rolltemplate-collision  div.sheet-template-header {
	border-bottom: 1px solid red;
	margin: 0ex 1ex 1ex 0ex;
	font-weight: bold;
	font-size: 1.1em;
}

.sheet-rolltemplate-do2d10 div.sheet-template-container {
	border: 1px solid;
	padding: 1ex 0ex 1ex 1ex;
}

.sheet-rolltemplate-do2d10 div.sheet-template-header {
	border-bottom: 1px solid red;
	margin: 0ex 1ex 1ex 0ex;
}

.sheet-rolltemplate-do2d10 div.sheet-template-options {
	border-top: 1px dashed darkgray;
	padding-top: 1ex;
	margin-top: 1ex;
}